<template>
  <h1>This route id is {{ job.id }} and role is {{ job.title }}</h1>
</template>

<script>
export default {
    props: ['id'],

    data(){
      return{
        job: {}
      }
    },

    mounted(){
        fetch('http://localhost:3000/jobs/'+this.id)
            .then(res => res.json())
            .then(data => this.job = data)
            .catch(err => console.log(err))
    }
}
</script>

<style>

</style>