<template>
  <router-link v-for="job in jobs" :key="job.id" :to="{name: 'JobDetails', params: {id: job.id}}">{{ job.title }} <br> </router-link>
</template>

<script>
export default {
    data(){
        return{
            jobs: []
        }
    },

    mounted(){
        fetch('http://localhost:3000/jobs')
            .then(res => res.json())
            .then(data => this.jobs = data)
            .catch(err => console.log(err))
    }
}
</script>

<style>

</style>